.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  color: white;
  height: 60px;
}

.sub-nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 0px 0px 16px;
  list-style: none;
  color: white;
  height: 60px;
  margin-left: 17px;
}

input[type="checkbox"] {
  margin: 0px 10px 0px 10px;
}

.expand-icon {
  position: absolute;
  margin-right: 25px;
  right: 0;
}
