h1,
h2,
h3 {
  text-align: center;
  color: #012b12;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
  margin: 8px auto;
  padding: 5px;
}

h1 {
  padding: 2px 0;
  margin-top: 20px;
}

.descrip {
  text-align: center;
  color: #012b12;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
  font-size: large;
}

.wholePage {
  background-color: bisque;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  /* should be navbar height/handheld or above */
  padding-top: 60px;
  z-index: -5;
}

#cardHolder {
  padding-top: 20px;
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card {
  padding: 5px 10px;
  border: #012b12 solid 1px;
  border-radius: 3px;
  width: 200px;
  margin: 5px;
  text-align: center;
}

.talking {
  display: block;
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.report-form {
  /* width: 50%; */
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  max-width: 630px;
}

#message {
  /* changed bottom padding, added static height */
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 5px auto;
  height: 180px;
  width: 100%;
  max-width: 600px;
}

#request-submit,
#request-cancel {
  width: 40%;
  margin: 10px 5% 0 5%;
  max-width: 300px;
}

input {
  padding-top: 0;
}

#category {
  display: inline-block;
}

.icon-git {
  cursor: pointer;
}

.icon-position {
  left: 50%;
}

@media (max-width: 600px) {
  .talking {
    width: 100%;
  }
}
